<ion-content fullscreen class="bg-vip">

  <ion-grid class="pb80" style="height: calc(100% - 116px); margin-top: 10%; padding-top: 20px;">

    <div style="background-color: transparent; position: relative; top: 25%; height: 150px;" (click)="openAlert()">
          
    </div>

    <!-- <div style="background-size: cover; background-position: center; text-align: center; font-style: italic; height: calc(100vh - 98px); width: 100vw; padding: 60px; font-family: AdventProMedium">
      <h1 style="color: #ffda76;font-size: 36px; margin: 0">
        {{"SHARE.share1" | translate}}
      </h1>

      <img src="assets/share.png" alt="" style="position: relative;margin: auto; display: block; width: 100px; top: 10px">

      <div style="width: 220px; margin: 30px auto">
        <img src="assets/copy.png" alt="" style="width: 40px; float: left">
        <span style="border: none !important; color: #fff; margin: 5px 0px; width: 170px;" id="pega-tu-codigo">ID: ({{code}})</span>

        <div style="clear: both;"></div>
      </div>

      <p style="color: #fff; font-style: italic; line-height: 24px; font-size: 19px;">{{"SHARE.share2" | translate}}</p>

      <p style="color: #fff; font-style: italic; line-height: 24px; font-size: 19px;">{{"SHARE.share3" | translate}}</p>

      <p style="color: #fff; font-style: italic; line-height: 24px; font-size: 19px;">{{"SHARE.share4" | translate}}</p>
    </div> -->

    <!-- <img src="assets/share.png" alt="" style="position: relative;margin: auto; display: block; width: 25%; top: 15%;">

    <div style="width: 220px; margin: 40px auto; position: relative;top: 9%;">
        <div style="clear: both;"></div>

        <img src="assets/copy.png" alt="" style="width: 40px; float: left">
        <span style="border: none !important; color: #fff; margin: 5px 0px; width: 170px;" id="pega-tu-codigo">ID: ({{code}})</span>

        <div style="clear: both;"></div>
    </div> -->

    <!-- <span style="display: block; width: 100%; font-size: 14px; color: #fff; text-align: center">
    	Invita a tus amigos a probar VipFans
    </span>

    <div id="pentagon">
    	<div style="color: #fff; text-align: center; position: absolute; top: -130px">
			<h4 style="margin: 12px 0 !important; font-size: 16px">{{user.name}}</h4>
			<h4 style="margin: 12px 0 !important; font-size: 16px">ID: {{user.id}}</h4>
    		<img src="assets/icon/share.png" alt="" style="position: relative; width: 30%; margin-top: 6px;">
    	</div>
    </div>

    <p style="top: 190px; color: #aaa; padding: 8px; position: relative; font-size: 13px; margin-bottom: 20px;">
    	Haz click en el botón de compartir y envía el número de referencia.
    	<br><br>
    	Si la persona registrada con tu número de referencia permanece activo en la App durante al menos <strong style="color: #fff">30 días</strong> te regalamos crédito para <strong style="color: #fff">1.000 seguidores.</strong>
    	<br><br>
    	La persona con quien has compartido obtendrá <strong style="color: #fff">30 días de cuenta VIP.</strong>

    	<br>
    	<img src="assets/icon/smiles.svg" alt="" style="position: relative;margin: auto; display: block; width: 120px;">
    </p> -->
    


  </ion-grid>

</ion-content>