<ion-content fullscreen class="bg-4">

  <ion-grid class="pt80 pb50">

    <div class="ion-margin home-border mt50">

      <ion-row class="ion-padding-vertical">

        <ion-col size="12" class="ion-text-center">
          <!-- <span class="ff1 fwl fz14 tc1">Magnetismo en curso</span> -->
          <img [src]="'assets/new/'+icon+'.svg'" alt="" width="70px;">
        </ion-col>

        <ion-col size="12" class="ion-text-center">
          <p class="ff2 fwl tc1" style="margin: 0; font-size: 22px !important">
            <!-- Vipfans trabajará en segundo plano para que consigas Magnetismo. -->
            {{_counts}}
          </p>
        </ion-col>


        <button type="submit" class="ion-margin-top bg-blue2 button-2 tc1" (click)="closeModal()">
          {{"MAGNETISM.change" | translate}}
        </button>

      </ion-row>

    </div>

  </ion-grid>

</ion-content>