<ion-content fullscreen class="bg-hazte-vip">

  <ion-grid class="mt80 pb50">

    <!-- <ion-row>
      <ion-col size="12" class="ion-margin-left ion-margin-bottom ion-text-center mt12 ff2 fwr fz12 tc3">
        Ser VIP tiene muchas ventajas
      </ion-col>
    </ion-row>

    <hr class="separator-01 gradient-2"> -->
    <!-- <br>
    <img src="assets/icon/haztevip.png" alt="fags" style="width: 280px; position: relative; margin: auto; display: block;"> -->

    <!-- <ion-row class=" ion-margin-bottom">
      <ion-col size="12" class="ion-margin-center ion-text-center mt12 ff1 fwr fz15 tc1">
        TE REGALAMOS 30 DÍAS DE PRUEBA
      </ion-col>
    </ion-row> -->

    <!-- <br>

    <ion-row class="ion-matgin-vertical">
      <ion-col size="12" class="ion-margin-left ion-text-center ff2 fwr fz13 tc3">

        <li class="li-vip">
          {{"MAGNETISM.vip1" | translate}}
        </li>

        <li class="li-vip">
          {{"MAGNETISM.vip2" | translate}}
        </li>

        <li class="li-vip">
          {{"MAGNETISM.vip3" | translate}}
        </li>

        <li class="li-vip">
          {{"MAGNETISM.vip4" | translate}}
        </li>

        <li class="li-vip">
          {{"MAGNETISM.vip5" | translate}}
        </li>

      </ion-col>
    </ion-row> -->

    <!-- <button type="submit" class="ion-margin-top bg-black button-2 tc2 jelly" id="openStripe" (click)="openStripe()" style="border: 1px solid #ccc; padding: 6px; height: auto !important; position: absolute; bottom: 75px;">
      <img src="assets/icon/haztevip.png" alt="fags" style="height: 42px; position: relative; top: 2px">
    </button> -->

    <button type="submit" class="ion-margin-top button-2 tc2" style="position: absolute; bottom: 90px; border: 2px solid #ffda76; background-color: transparent;"
                          (click)="openStripe()">
      <span style="font-size: 24px; color: #fff; position: relative; top: -3px; margin-right: 6px;">
      </span> <img src="assets/icon/haztevip.png" alt="" style="height: 26px; position: relative; top: 1px;">
    </button>

  </ion-grid>

</ion-content>